{% extends 'base_admin.html.twig' %}

{% block title %}PaymentMode index{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col s12 m3">
            <div class="row flex flex-center extensive-h">
                <a href="{{ path('payment_mode_new') }}" class="btn btn-large cyan"><i class="material-icons left">add</i> Ajouter</a>
            </div>
        </div>
        <div class="col s12 m9">

            <h1>Les moyens de paiement</h1>

            <table class="table striped">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for payment_mode in payment_modes %}
                    <tr>
                        <td>{{ payment_mode.name }}</td>
                        <td>
                            <a
                                href="{{ path('payment_mode_edit', {'id': payment_mode.id}) }}"
                                class="btn-floating cyan"><i class="material-icons">edit</i>
                            </a>
                        </td>
                        <td>
                            {{ include('payment_mode/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Aucun mooyen de paiement enregistré</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
