{% extends 'base.html.twig' %}

{% block title %}New PaymentMode{% endblock %}

{% block body %}
    <h1>Create new PaymentMode</h1>

    {{ include('payment_mode/_form.html.twig') }}

    <a href="{{ path('payment_mode_index') }}">back to list</a>
{% endblock %}
