{{ form_start(formcash) }}
<div class="row">
    <div class="col s6">
        {{ form_widget(formcash.amount) }}
        <button class="btn cyan">enregistrer</button>
    </div>
</div>
{{ form_end(formcash) }}
