{% extends 'base.html.twig' %}

{% block title %}New CashCount{% endblock %}

{% block body %}
    <h1>Create new CashCount</h1>

    {{ include('cash_count/_form.html.twig') }}

    <a href="{{ path('cash_count_index') }}">back to list</a>
{% endblock %}
