<form method="post">
    {% if error is defined and error is not null %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="row center-align">
        <i class="material-icons white-text medium">lock_open</i>
    </div>

    <label for="inputUsername">Identifiant</label>
    <input type="text" value="" name="username" id="inputUsername" class="form-control" required >
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <button class="btn btn-lg btn-primary" type="submit">
        Connexion
    </button>

</form>

<p class="white-text">
    Pour vous connecter en admin : admin/admin<br>
    Pour vous connecter en utilisateur : user/user<br>
    Les données sont remises à 0 tous les jours à minuit.
</p>
