<div id="adder" class="sidenav adder">
    <div class="adder-container">
        <div class="row">
            <div class="price-zone">
                <span id="adder-product-price" class="price black white-text product-price"></span>
            </div>
            <div class="col s12 center-align">
                <h2 id="adder-product-name">Cashbox</h2>
            </div>

        </div>
        <div class="row">
            <div class="calcul-zone">
                <div class="number black white-text" data-value="1">1</div>
                <div class="number black white-text" data-value="2">2</div>
                <div class="number black white-text" data-value="3">3</div>
                <div class="number black white-text" data-value="4">4</div>
                <div class="number black white-text" data-value="5">5</div>
                <div class="number black white-text" data-value="6">6</div>
                <div class="number black white-text" data-value="7">7</div>
                <div class="number black white-text" data-value="8">8</div>
                <div class="number black white-text" data-value="9">9</div>
                <div class="number black white-text" data-value="0">0</div>
                <div class="eraser pink white-text" id="eraser"><i class="material-icons">backspace</i></div>
            </div>
        </div>
        <div class="row">
            <div class="col s4 offset-s4 center-align">
                <span class="quantity" data-quantity="0" id="quantity">0</span>
            </div>
        </div>
        <div class="row center-align">
            <a class="btn btn-large pink" id="valid-purchase-unit"
               data-price="" data-quantity="" data-name="" data-id="">Valider</a>
        </div>

    </div>

</div>
