.flex-products {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: start;
  height:calc(100vh - 100px);
  overflow:scroll;
  .product {
    width:9vw;
    height:9vw;
    margin-top:10px;
    margin-left:5px;
    margin-right:5px;
    position:relative;
    border-radius: 5px;
    box-shadow: 3px 3px 4px $shadow-light;
    &.active {
      transform: scale(0.95);
      box-shadow: none;
    }
    &:hover {
      cursor: pointer;
    }

    .product-price {
      position:absolute;
      bottom:0;
      left:0;
      width:100%;
      padding:5px 0;
      vertical-align: middle;
      font-family: $bebas;
      font-size:1.2rem;
      text-align: center;
      background: $shadow;
      border-radius:0 0 5px 5px;
      span {
        font-weight: bold;
        &.left {
          margin-left:5px;
        }
        &.right {
          margin-right:5px;
        }
      }
    }
    .product-name {
      display:block;
      font-weight: 700;
      width:100%;
      padding:8px 5px;
      text-align: center;
      font-size: 1.3rem;
      font-family: $bebas;
      color: black;
      transition:all 0.2s ease-in-out;
    }
  }
}

.cart-zone {
  .total-ticket-zone {
    margin-left:20px;
    #ticket {
      .total-ticket {
        font-size: 2rem;
      }
    }
  }
  .clock {
    font-weight: 600;
    padding:5px 0 0 15px;
    .timer {
      font-weight: 700;
    }
  }
  table {
    &.total-day {
      tr {
        td {
          font-family: $bebas;
          font-size: 1.4rem;
        }
      }
    }
  }
}
.modal {
  input {
    &.readonly {
      width: 15%;
      border: none;
      border-radius: 5px;
      font-size: 3rem;
    }
    &.biginput {
      width: 15%;
      border:1px solid $shadow;
      padding:15px 10px;
      font-size: 3rem;
      border-radius:7px;
    }
  }
}
