* {
  font-family: $rajdhani;
}
.bolder {
  font-weight: bold;
}
.btn {
  border-radius:0;
  font-family: $bebas;
}

.extensive-h {
  height:calc(100vh - 120px);
}
.extensive-w {
  height:100vw;
}

.flex {
  display: flex;
  &.flex-center {
    align-content: flex-start;
    align-items: center;
  }
}

.alert-box {
  padding:5px;
}

.btn-floating {
  transform:scale(0.9);
}

.alert-date {
  padding:7px;
  margin-top:50px;
  display:inline-block;
}

.mgt10 {
  margin-top:10px;
}


