* {
  font-family: $rajdhani;
}
.bolder {
  font-weight: bold;
}
.btn {
  border-radius:0;
  font-family: $bebas;
}

.extensive-h {
  height:calc(100vh - 120px);
}
.extensive-w {
  height:100vw;
}

.flex {
  display: flex;
  &.flex-center {
    align-content: flex-start;
    align-items: center;
  }
}

.alert-box {
  padding:5px;
}


