nav {
  a {
    transition:all 0.2s ease-in-out;
    &.brand-logo {
      min-width:200px;
      img {
        margin-right:10px;
        margin-top:5px;
        margin-left:5px;
      }
      &:hover {
        color:black;
      }
    }
  }
  height:74px;
  border-bottom:10px solid $dark-teal;
  h5 {
    font-family: $bebas;
    font-size:2rem;
    margin-left:20px;
  }
  li {
    a {
      font-weight: 600;
    }
  }

}
