{% extends 'base.html.twig' %}

{% block title %}New Extraction{% endblock %}

{% block body %}
    <h1>Create new Extraction</h1>


    <a href="{{ path('extraction_index') }}">back to list</a>
{% endblock %}
