{% extends 'base.html.twig' %}

{% block title %}New CashFund{% endblock %}

{% block body %}
    <h1>Create new CashFund</h1>

    {{ include('cash_fund/_form.html.twig') }}

    <a href="{{ path('cash_fund_index') }}">back to list</a>
{% endblock %}
