<nav>
    <div class="nav-wrapper teal">
        <a href="#" class="brand-logo"><h5>Cashbox 1.0</h5></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#" data-target="extract-fund" class="modal-trigger"><i class="material-icons left tiny">undo</i> Extraction</a></li>
            <li><a href="#"  data-target="cashcount" class="modal-trigger"><i class="material-icons left tiny">monetization_on</i> Comptage de caisse</a></li>
            <li><a href="{{path('admin_panel')}}"><i class="material-icons left tiny">settings</i> Admin</a></li>
        </ul>
    </div>
</nav>
