<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}CASHBOX{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rajdhani:wght@400;600;700&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="shortcut icon" type="image/png" href="{{ asset('build/favicon.png') }}"/>

        {% block og %}
            <meta property="og:title" content="CASHBOH - Logiciel de caisse - Démonstration"/>
            <meta property="og:description" content="Cashbox est un logiciel de caisse gratuit, open source, créé spécialement pour les petites structures : Associations, bars associatifs, evenements culturels, auto-entrepreneurs ..."/>
            <meta property="og:image" content="{{ asset('build/ogimage.jpg.png') }}" />
            <meta property="og:image:type" content="image/jpeg" />
            <meta property="og:image:width" content="1200" />
            <meta property="og:image:height" content="630" />
            <meta property="og:image:alt" content="Logo de CASHBOX" />
            <meta property="og:url" content="http://demo.mycashbox.fr" />
            <meta property="og:type" content="website">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
