{% extends 'base_admin.html.twig' %}

{% block title %}New Stock{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col s12 m3">
            <div class="row flex flex-center extensive-h">
            </div>
        </div>
        <div class="col s12 m9">
            <h1>Créer un stock pour</h1>
            <div class="row">
                {{ include('stock/_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
