{% extends 'base_admin.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col s12 m3">
            <div class="row flex flex-center extensive-h">
            </div>
        </div>
        <div class="col s12 m9">
            <h1>Modifier un compte utilisateur</h1>
            {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>
</div>
{% endblock %}
